<pre class="prettyprint  linenums lang-scm">
<code id="urrgh">
&lt;div class="panel panel-default" &gt;
    &lt;div class="panel-heading" id="cadastroCarros"&gt;
        Cadastro
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
        &lt;ul class="list-group" ng-show="carroForm.$invalid"&gt;
            &lt;li class="list-group-item list-group-item-danger" ng-hide="carroForm.modelo.$valid || carroForm.modelo.$pristine"&gt;Insira o modelo.&lt;/li&gt;
            &lt;li class="list-group-item list-group-item-danger" ng-show="carroForm.ano.$invalid && carroForm.ano.$dirty"&gt;Selecione o ano.&lt;/li&gt;
            &lt;li class="list-group-item list-group-item-danger" ng-show="carroForm.fabricante.$invalid && carroForm.fabricante.$dirty"&gt;Selecione o Fabricante.&lt;/li&gt;
        &lt;/ul&gt;
        &lt;form name="carroForm" novalidate&gt;
            &lt;div class="input-group input-group-sm"&gt;
                &lt;span class="input-group-addon glyphicon glyphicon-plus"&gt;&lt;/span&gt;
                &lt;select class="form-control" name="ano" ng-model="carro.ano" ng-options="ano for ano in anos" ng-required="true"&gt;
                    &lt;option value=""&gt;Selecione o Ano&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;

            &lt;div class="input-group input-group-sm"&gt;
                &lt;span class="input-group-addon glyphicon glyphicon-plus"&gt;&lt;/span&gt;
                &lt;input class="form-control" name="modelo" ng-model="carro.modelo" maxlength="50" placeholder="Modelo:"
                       ng-required="true"/&gt;
            &lt;/div&gt;

            &lt;div class="input-group input-group-sm"&gt;
                &lt;span class="input-group-addon glyphicon glyphicon-plus"&gt;&lt;/span&gt;
                &lt;select class="form-control" name="fabricante" ng-model="carro.fabricante" ng-options="fabricante.nome for fabricante in fabricantes" ng-required="true"&gt;
                    &lt;option value=""&gt;Selecione o Fabricante&lt;/option&gt;
                &lt;/select&gt;
            &lt;/div&gt;

            &lt;button ng-click="adicionarCarro(carro)"
                    class="btn btn-info" ng-disabled="carroForm.$invalid"&gt; Adicionar
            &lt;/button&gt;
        &lt;/form&gt;
        &lt;a href="" class="visible-xs" ng-click="gotoTopo()"&gt; Voltar ao top &lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="panel panel-default" &gt;
    &lt;div class="panel-heading" id="sources"&gt;
        Sources
    &lt;/div&gt;
    &lt;div class="panel-body"&gt;
        &lt;div class="list-group"&gt;
            &lt;a ng-repeat="templateCode in templatesCode" href="" class="list-group-item" ng-click="alterarSource(templateCode)" data-toggle="modal"  data-target="#codeModal"&gt;{{templateCode.name}}&lt;/a&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>
