<div class="panel panel-default">
    <div class="panel-heading">
        Pesquisa
    </div>
    <h3><span ng-show="listaCarros.length == 0" class="label label-warning">
            Nenhum Carro Adicionado!
        </span></h3>

    <div class="panel-body" ng-show="listaCarros.length > 0">
        <div class="table-responsive">
            <div class="form-group">
                <label for="pesquisa">Pesquisar</label>
                <input id="pesquisa" type="text" class="form-control" placeholder="Pesquise o Carro aqui: (Ano, modelo, valor)"
                       ng-model="criterio"/>
            </div>
            <table class="table table-condensed">
                <tr>
                    <th class="hidden-xs"><a href="" ng-click="ordenarCarrosPor('ano')">Ano</a></th>
                    <th><a href="" ng-click="ordenarCarrosPor('modelo')">Modelo</a></th>
                    <th><a href="" ng-click="ordenarCarrosPor('valor')">Valor</a></th>
                    <th>Opções</th>
                </tr>
                <tr dir-paginate="carro in listaCarros| filter: criterio | orderBy:campoOrderBy:reverse | itemsPerPage: pageSize"
                    current-page="currentPage">
                    <td class="hidden-xs">{{carro.ano}}</td>
                    <td><a href="" ng-click="showCarro(carro)" data-toggle="modal" data-target="#carroModal">{{carro.modelo}}</a>
                    </td>
                    <td class="hidden-xs" ng-show="carro.valor">{{carro.valor | currency:"USD$"}}</td>
                    <td class="hidden-xs" ng-show="!carro.valor">N/A</td>
                    <td><a href="" data-toggle="modal" ng-click="showCarro(carro)" data-target="#carroModalEx"
                           class="glyphicon glyphicon-remove" ng-click="excluirCarro(carro)"></a>
                        <a scroll-to="cadastro" ng-click="editarCarro(carro);"
                           class="glyphicon glyphicon glyphicon-pencil"></a>
                    </td>
                </tr>
                <tfoot>
                <td colspan="2" class="hidden-xs"><strong>Total de Carros no sistema:</strong></td>
                <td colspan="1" class="hidden-xs">{{listaCarros.length}}</td>
                <td colspan="2" class="visible-xs"><strong>Total de Carros: {{listaCarros.length}}</strong></td>
                </tfoot>
            </table>
        </div>
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="shared/utils/dirPagination.tpl.html"></dir-pagination-controls>

    </div>
</div>